APP_API_URL=https://api.propertymaster.com/api/news
APP_API_KEY=
NEWS_SOURCES=https://www.hindustantimes.com/real-estate,https://www.aninews.in/category/business/,https://www.cnbctv18.com/real-estate/,https://www.moneycontrol.com/news/business/,https://www.business-standard.com/search?q=REAL%20ESTATE,https://www.outlookmoney.com/topic/real-estate,https://www.tribuneindia.com/topic/real-estate,https://torbitrealty.com/category/news/city-updates/gurugram/,https://realtynmore.com/latest-news/,https://www.hindustantimes.com/topic/faridabad/news,https://www.lokmattimes.com/business/,https://propnewstime.com/
MAX_ITEMS_PER_RUN=30
MAX_ITEMS_PER_SOURCE=4
DEFAULT_CITY_CODE=gurugram
ALLOW_DEFAULT_CITY_CODE=false
